body {
  background-color: black;
}

.topnav {
    float: right;
    padding: 10px 100px;
    font-size: 25px;    
  }

  ul li{
    display: inline-block;  
    margin: 10px;
  }

  .topnav a {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    position: absolute;
    top: -120px;
    left: 0px;
  }

  .computer {
    position: absolute;
    top: 200px;
    left: 1000px;
    border-radius: 15px;
  }

  .intro {
    color: whitesmoke;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 18px;
  }

  .textBox {
    border: 1px solid white;
    border-radius: 10px;
    height: 220px;
    width: 700px;
    background-color: rgb(72,72,72);
    position: absolute;
    top: 400px;
    left: 125px;
  }

  .innerBox {
    border: 1px solid white;
    border-radius: 10px;
    height: 60px;
    width: 675px;
    padding-bottom: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footNote {
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }

  .header {
    position: absolute;
    color: whitesmoke;
    top: 300px;
    left: 125px;
  }

  .hire {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 630px;
    left: 125px;
    border: 1px solid;
    border-radius: 10px;
    height: 40px;
    width: 115px;
    background-color: rgb(72,72,72);
  }

  .hireMe {
    /*position: absolute;*/
    color: whitesmoke;
    font-size: 18px;
    padding-right: 5px;
  }

  .lights {
    position: absolute;
    top: 635px;
    left: 1285px;
    border: 1px solid;
    border-radius: 10px;
    height: 35px;
    width: 135px;
    background-color: rgb(72,72,72);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .turnOnLights {
    color: whitesmoke;
    font-size: 16px;
    padding-right: 5px;
  }

  .aboutMe {
    position: absolute;
    top: 700px;
    left: 850px;
    border-radius: 10px;
    height: 40px;
    width: 135px;
    background-color: rgb(72,72,72);
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: rgba(244, 242, 242, 0.833) 0px 2px 4px, rgba(241, 240, 240, 0.9) 0px 7px 13px -3px, rgba(243, 241, 241, 0.2) 0px -3px 0px inset;
  }

  .me {
    color: whitesmoke;
    font-size: 20px;
  }

  .aboutMe:hover, .ed:hover, .exp:hover, .lights:hover, .hire:hover {
    background-color: gray;
    cursor: pointer;
    transition: 1s;
  }

  .ed {
    position: absolute;
    top: 775px;
    left: 750px;
    border-radius: 10px;
    height: 40px;
    width: 135px;
    background-color: rgb(72,72,72);
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: rgba(179, 178, 178, 0.4) 0px 2px 4px, rgba(179, 177, 177, 0.3) 0px 7px 13px -3px, rgba(180, 178, 178, 0.2) 0px -3px 0px inset;
  }

  .education {
    color: whitesmoke;
    font-size: 20px;
    padding-right: 5px;
  }

  .exp {
    position: absolute;
    top: 775px;
    left: 945px;
    border-radius: 10px;
    height: 40px;
    width: 135px;
    background-color: rgb(72,72,72);
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: rgba(179, 178, 178, 0.4) 0px 2px 4px, rgba(179, 177, 177, 0.3) 0px 7px 13px -3px, rgba(180, 178, 178, 0.2) 0px -3px 0px inset;
  }

  .experience {
    color: whitesmoke;
    font-size: 20px;
    padding-right: 5px;
  }

  .expSec {
    position: absolute;
    top: 900px;
    left: 250px;
    background-color: black;
    color: whitesmoke;
    height: 445px;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
  }

  .expDiv {
    padding: 20px;
    height: 400px;
  }
  
  .expOne::before {
    content: " ";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: 874px;
    top: 25px;
    background-color: white;
    border: 2px solid gray;
  }

  .expTwo::before {
    content: " ";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: 874px;
    top: 170px;
    background-color: white;
    border: 2px solid gray;
  }

  .expThree::before {
    content: " ";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: 874px;
    top:315px;
    background-color: white;
    border: 2px solid grey;
  }

  .headerTwo, .headerThree {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .paraG {
    margin-top: 10px;
  }

  .headerDiv {
  }

  .expHeader {
    margin-left: 95px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  hr {
    height: 12px;
    background-color: white;
    border-radius: 15px;
    width: 100px;
    margin-top: 30px;
  }