.topnav {
    float: right;
    padding: 10px 100px;
    font-size: 25px;    
  }

  ul li{
    display: inline-block;  
    margin: 10px;
  }

  .topnav a {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    position: absolute;
    top: -120px;
    left: 0px;
  }

  .computer {
    position: absolute;
    top: 195px;
    left: 1000px;
  }

  .intro {
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }

  .textBox {
    border: 1px solid;
    border-radius: 10px;
    height: 220px;
    width: 700px;
    background-color: gray;
    position: absolute;
    top: 400px;
    left: 125px;
    background-color: gray;
  }

  .innerBox {
    border: 1px solid;
    border-radius: 10px;
    height: 60px;
    width: 675px;
    position: absolute;
    padding-bottom: 5px;
    margin-left: 10px;
  }

  .footNote {
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }

  .header {
    position: absolute;
    color: whitesmoke;
    top: 300px;
    left: 125px;
  }

  .hire {
    position: absolute;
    top: 630px;
    left: 125px;
    border: 1px solid;
    border-radius: 10px;
    height: 40px;
    width: 125px;
    background-color: gray;
  }

  .hireMe {
    color: whitesmoke;
    padding-left: 20px;
    font-size: 18px;
  }

  .lights {
    position: absolute;
    top: 630px;
    left: 1250px;
    border: 1px solid;
    border-radius: 10px;
    height: 35px;
    width: 150px;
    background-color: gray;
  }

  .turnOnLights {
    color: whitesmoke;
    font-size: 16px;
    padding-left: 10px;
  }


  